@page "/Logout"
@inject IAuthService AuthService
@inject NavigationManager Nav
<h3>Logout</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthService.LogoutAsync();

        Nav.NavigateTo("/login", forceLoad: true);
    }
}