name: Unit Test With Coverage

on:
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest

    env:
      Solution_Name: Projects/Exadel.ReportHub/Exadel.ReportHub.sln
      Test_Project: Projects/Exadel.ReportHub/Exadel.ReportHub.Tests/Exadel.ReportHub.Tests.csproj 
      
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore ${{ env.Solution_Name }}

    - name: Build solution
      run: dotnet build ${{ env.Solution_Name }}

    - name: Run tests with code coverage
      run: dotnet test ${{ env.Test_Project }} --configuration Release --no-build --verbosity normal \
        /p:CollectCoverage=true \
        /p:CoverletOutputFormat=opencover \
        /p:CoverletOutput=TestResults/coverage.xml


    - name: Install ReportGenerator tool
      run: dotnet tool install --global dotnet-reportgenerator-globaltool

    - name: Generate HTML coverage report
      run: reportgenerator "-reports:TestResults/coverage.xml" "-targetdir:TestResults/CoverageReport" -reporttypes:Html

    - name: Upload coverage report artifact
      uses: actions/upload-artifact@v4
      with:
        name: CoverageReport
        path: TestResults/CoverageReport
